

@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Message"]</h1>

<table class="table table-responsive">
    <tr>
        <th>Name</th>
        <th>Fiscal Year</th>
    </tr>
    <tr>
        <td>@ViewBag.Name</td>
        <td>@ViewBag.FY</td>
    </tr>
</table>

