<section>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10 table-responsive">
            <h1>Categorias</h1>
            <table class="table">
                <thead>
                    <tr>
                        <td>Categoria ID</td>
                        <td>Nome</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td>{{ categoria.categoriaId }}</td>
                        <td>{{ categoria.categoriaNome }}</td>
                        <td><button (click)="edit(categoria)">Editar</button>&nbsp;|&nbsp;<button (click)="delete(categoria)">Deletar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10">
            <h2>{{ formLabel }}</h2>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-1">Nome:</label>
                        <div class="col-xs-12 col-sm-6">
                            <input class="form-control" type="text" formControlName="categoriaNome">
                        </div>
                    </div>
                    <div class="form-footer col-xs-12 col-sm-3">
                        <button type="submit" [disabled]="!form.valid">Submeter</button>
                        <button type="button" (click)="cancel()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>