@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("../Cliente/_AlertaView")

@Html.Partial("_MenuView")

<h1> Usando partial View </h1>
<hr>

ASP .NET CORE

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
