<br>
<table>
    <tr>
        <td>@Html.ActionLink("Home","Index","Home")</td>
        <td>@Html.ActionLink("Cliente","Index","Cliente")</td>
        <td>@Html.ActionLink("Privacy","Privacy","Home")</td>
    </tr>
</table>
<br>