
@{
    ViewData["Title"] = "Index";
}
<html>
<head>
    <title>Contatos</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/javascript/requisicaoHttp.js">
    </script>
</head>


<h1>Meus Contatos</h1>
<form>
    <table border="1" cellpadding="10">
        <tr>
            <td>Contato ID :</td>
            <td>
                <select id="id"></select>
            </td>
        </tr>
        <tr>
            <td>Nome :</td>
            <td><input id="nome" type="text" /></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input id="email" type="text" /></td>
        </tr>
        <tr>
            <td>Telefone :</td>
            <td><input id="telefone" type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" id="incluir"
                       value="Incluir" />
                <input type="button" id="atualizar"
                       value="Atualizar" />
                <input type="button" id="excluir"
                       value="Excluir" />
            </td>
        </tr>
    </table>
    <br />
    <div id="msg"></div>
</form>
</html>
